body
{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

#header
{
  text-align:center;
  border-bottom: 2px solid #8a7769;
}

#content
{
  margin: 30px 70px 30px 70px;
  text-align: center;
}

.todolist table
{
  border: 1px solid #8a7769;
  background: white;
}

.todolist .completion
{
  text-align: center;
}